.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 1rem;
    border: solid red 2px;
  }

  .grid > div {
    background: blue;
    padding: 1rem;
  }
  
  .grid > div::before {
    content: "";
    padding-bottom: 100%;
    display: block;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 40px 40px 1fr 1fr;
    grid-template-rows: 30px 20px;
  }