.ant-menu {
  align-items: center;
  background-color: transparent;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: flex-end;
  padding: 0.25rem 1rem;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1;
}

.ant-menu .ant-avatar {
  align-items: center;
  display: flex;
  justify-content: center;
}
